.navbar-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-space {
    display: flex;
    gap: 12px;
}

.search-input {
    border: 2px solid;
    border-color: #003a70;
}

.pokemon-logo {
    width: 100px;
}

